* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
}

.form-control-feedback {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none;
}
